<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet"
          asp-href-include="/lib/bootstrap/dist/**/*.min.css"
          asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <title>Sketch Shop</title>
</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <a class="navbar-brand" href="#">SKETCH SHOP</a>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @await  Component.InvokeAsync("NavigationMenu")
            This website showcases sketches drawn by a novice sketcher
            during several points of her self-exlploation and breakdowns.
            Stop by, have a look at a deeply meesed up person. 
            Are you a troubled soul too? Know that, you are not alone!            
        </div>
        <div class="col-9">
            @RenderBody()
        </div>
    </div>
</body>
</html>
